/* Content Styles */

#right-content {
	margin-left: 250px;
	padding: 30px 0px 30px 40px;
}

#right-content a {
	color: #2568d8;
}
a:hover.basic-link {
	text-decoration: underline;
}

h1 img {
	padding-left: 45px;
}

.with-text h3.grab-date {
	margin-bottom: 10px;
}

.row {
	margin-top: 10px; margin-bottom: 20px;
	overflow: auto;
	width: auto;
	height: auto;
}
.mini-row {
	float: left;
	width: 445px;
	height: auto;
}

.column-video {
	float: left;
	width: 240px;
	padding: 5px;
	margin-right: 40px;
	margin-bottom: 5px;
}
a:hover .column-video {
	background-color: #E6E6E6;
}

.column-image {
	float: left;
	width: 135px;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
a:hover .column-image, a:hover .headline-image, a:hover .sideline-image {
	background-color: #E6E6E6;
}

.headline-image {
	float: left;
	width: 200px;
	height: 200px;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.headline-image img {
	max-width:100%;
	max-height:100%;
}
.sideline-image {
	float: left;
	width: 90px;
	height: 90px;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.text-launcher {
	clear: both;
	cursor: pointer;
	width: 250px;
	margin-left: 5px;
	padding: 5px;
	padding-left: 10px;
	font-size: 20px;
	background-color: #E6E6E6;
}
.text-no-launcher {
	clear: both;
	width: 250px;
	margin-left: 5px;
	padding: 5px;
	padding-left: 10px;
	font-size: 20px;
	background-color: #E6E6E6;
}
.icon-mini {
	position: relative;
	width: 15px;
	height: 15px;
	padding-right: 25px;
	top: 4px;
}
.text-launcher:hover, .text-launcher:hover + .gray-bar {
	color: white;
	background-color: black;
}
.text-icon {
	background: url(../images/utilities/read-more.png) no-repeat;
}
.text-launcher:hover .text-icon {
	background: url(../images/utilities/read-more-hover.png) no-repeat;
}
.close-icon {
	background: url(../images/utilities/close-up.png) no-repeat;
}
.text-launcher:hover .close-icon {
	background: url(../images/utilities/close-up-hover.png) no-repeat;
}

.column-text {
	margin-top: 15px;
	margin-left: 57px;
	padding-right: 100px;
}
.gray-bar {
	display: none;
	float: left;
	margin-left: 5px;
	width: 32px;
	height: 220px;
	background-color: #E6E6E6;
}