#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    filter: alpha(opacity=50);
}

.modal-content {
    display: none;
    position: absolute;
    top: 150px;
    left: 50%;
    width: 560px;
    background-color: #4871E0;     
    margin: 0px 0 0 -160px;
}

.modal-graphic {
    width: 560px;
    height: 400px;
    background-color: #EBEBEB;
    border: 0px solid black;   
    white-space: nowrap;
    text-align: center;
}

.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-graphic img {
    vertical-align: middle;
    margin-left: -.3em;
    max-width: 560px;
    max-height: 400px;
}

.navigate-modal {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 60px;
    opacity: .40;
    filter: alpha(opacity=40);
}

.navigate-modal:hover {
    opacity: .80;
    filter: alpha(opacity=80);
}

.navigate-left {
    top: 175px;
    left: 10px;
    background: url(../images/utilities/arrow-left.png) no-repeat;
}

.navigate-right {
    top: 175px;
    left: 520px;
    background: url(../images/utilities/arrow-right.png) no-repeat;
}

footer {
    padding: 20px;
    height:45px;
    text-align: left;
    background-color: #4871E0;
}

.foot-graph {
    height: 60px !important;
}

.link-out {
    cursor: pointer;
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
    color: white;
}

.link-out:hover {
    color: black;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 0px;
    width: 14px;
    height: 15px;
    background: url(../images/utilities/close.png) no-repeat center;
    padding: 5px;
    border: 1px solid black;
}

.graph-close {
    top: 15px !important;
}

.modal-close:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

#modal-background.active, .modal-content.active {
    display: block;
}
